.banner-bg{
    background-color: #39383E;
    justify-content: center;
    align-items: center;
    display: flex;
}

.banner-text{
    text-align: start;
    color: white;
}
.banner-text h1{
    padding-left: 50px;
    color: white;
    margin-bottom: 20px;
}
.banner-text .bike-name{
    color: red;
    margin-bottom: 30px;
}
.banner-text p{
    padding-left: 50px;
    margin-bottom: 30px;
}
.banner-text button {
    margin-left: 50px;
    padding: 7px 10px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #39383E;
}
.banner-text button:hover{
    background-color: red;

}

.banner-img{
    padding: 0px;
}
.banner-img img{
    width: 100%;
    padding: 0;
    margin: 0;
}

.customer-review{
    margin-top: 50px;
}

.reviews-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
